APP_NAME="MaMoney"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_TIMEZONE=Asia/Dhaka
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=6432
DB_DATABASE=hackathon
DB_USERNAME=hind
DB_PASSWORD=password

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=s3
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=shin@jigoku
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="admin@test.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=hind
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=hackathon
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_ENDPOINT=http://127.0.0.1:9000

VITE_APP_NAME="${APP_NAME}"

# FEATURE FLAGS
PROFILE_PIC=true
API_SUPPORT=true
TERMS_AND_COND=true
ACC_DELETION=true
TEAMS=false
REGISTRATION=true
RESET_PASSWORD=true
EMAIL_VERIFICATION=true
UPDATE_PROFILE_INFORMATION=true
UPDATE_PASSWORDS=true
MF_AUTHENTICATION=true
USER_BAN=true

HOME_ROUTE=/dashboard
USER_NAME=email
PAGINATION_SIZE=20

OCTANE_SERVER=frankenphp
INERTIA_SSR_ENABLED=false

REVERB_APP_ID=509883
REVERB_APP_KEY=oa5zwrgsuzyeq528iokp
REVERB_APP_SECRET=nlzbzuwbbt9zjcrp3s0o
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
